@using Algebra.Entities.Models
@model IEnumerable<Attendee>

<div class="container small">
    <div class="row">
        <div class="col-md-12">
            <div><h3>Attendee <small>Here you can add edit Attendee with Guest.</small></h3></div>
            <div><button type="button" class="btn btn-primary glyphicon-plus" onclick="location.href='@Url.Action("Add", "Attendee")'">Add</button></div>
            <hr class="colorgraph">
            <div class="table-responsive">
                @if (Model.Any())
                {
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Middle Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">Guest Of</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var attendee in Model)
                            {
                                if (attendee.AttenderntId == null)
                                {
                                    string guestOf = $"{attendee.FirstName} {attendee.LastName}";
                                    <tr>
                                        <td>@attendee.FirstName</td>
                                        <td>@attendee.MiddleName</td>
                                        <td>@attendee.LastName</td>
                                        <td>@attendee.MobileNumber</td>
                                        <td>@attendee.Email</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            @Html.ActionLink("", "Edit", new { id = attendee.Id }
                                                    , new { @class = "btn btn-primary btn-xs glyphicon glyphicon-pencil" })
                                        </td>
                                    </tr>
                                    @if (attendee.Guest != null)
                                    {
                                        foreach (var guest in attendee.Guest)
                                        {
                                            <tr>
                                                <td>@guest.FirstName</td>
                                                <td>@guest.MiddleName</td>
                                                <td>@guest.LastName</td>
                                                <td>@guest.MobileNumber</td>
                                                <td>@guest.Email</td>
                                                <td>@guestOf</td>
                                                <td></td>
                                                <td>
                                                    @Html.ActionLink("", "Edit", new { id = guest.Id }
                                                            , new { @class = "btn btn-primary btn-xs glyphicon glyphicon-pencil" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>Attendee(s) are not available yet ...<small>(Add some records and try again later)</small></h2>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}