@using Algebra.Entities.ViewModels
@using Algebra.Data

@model List<ChequeViewModels>

@{
    if (Model.Count == 0)
    {
        Model.Add(new ChequeViewModels());
    }
}

<h4>Cheque <small>fill cheque details</small></h4>
<hr class="colorgraph">

@for (int i = 0; i < Model.Count; i++)
{
    int index = i + 1;
    <div id="cheque-@i.ToString()" class="cheque small clonedInput">

        <div class="row">
            <div class="col-lg-1">
                <div class="form-group">
                    <label>Copy</label><br />
                    <span data-placement="left" data-toggle="tooltip" title="Copy">
                        <button type="button" id="copy-btn-cheque-@index.ToString()" value="@index" class="btn btn-primary btn-xs clone">
                            <span class="glyphicon glyphicon-copy"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <div class="form-group">
                    <label>Delete</label><br />
                    <span data-placement="left" data-toggle="tooltip" title="Delete">
                        <button type="button" id="remove-btn-cheque-@index.ToString()" value="@i" class="btn btn-danger btn-xs remove">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].Number"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].Number" class="form-control input-sm" id="Number_@index.ToString()" />
                    <span asp-validation-for="@Model[i].Number" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].Amount"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].Amount" class="form-control input-sm" id="Amount_@index.ToString()" />
                    <span asp-validation-for="@Model[i].Amount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].Date"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].Date" asp-format="{0:yyyy-MM-dd}" class="form-control input-sm" id="Date_@index.ToString()" />
                    <span asp-validation-for="@Model[i].Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].BankName"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].BankName" class="form-control input-sm" id="BankName_@index.ToString()" />
                    <span asp-validation-for="@Model[i].BankName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].DrawnOn"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].DrawnOn" class="form-control input-sm" id="DrawnOn_@index.ToString()" />
                    <span asp-validation-for="@Model[i].DrawnOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label asp-for="@Model[i].ChequeStatus"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <select asp-for="@Model[i].ChequeStatus" asp-items="Html.GetEnumSelectList(typeof(Enums.ChequeStatus))" id="ChequeStatus_@index.ToString()" class="form-control input-sm">
                        <option selected="selected" value="">--- Status ---</option>
                    </select>
                    <span asp-validation-for="@Model[i].ChequeStatus" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
}
