@using Algebra.Entities.ViewModels
@model List<DependentViewModels>
@{
    if (Model.Count == 0)
    {
        Model.Add(new DependentViewModels());
        Model.Add(new DependentViewModels());
    }
}
@for (int i = 0; i < Model.Count; i++)
{
    int index = i + 1;
    <div id="dependent_@index.ToString()" class="small clonedInput">
        <h4>Dependent <small>@index</small></h4>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="@Model[i].Name"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].Name" class="form-control input-sm" />
                    <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="@Model[i].DependentDOB"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                    <input asp-for="@Model[i].DependentDOB"  asp-format="{0:yyyy-MM-dd}" class="form-control input-sm"/>
                    <span asp-validation-for="@Model[i].DependentDOB" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-2">
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                    <button type="button" id="btn-location-delete-@i" onclick='' class="btn btn-danger btn-xs remove" data-title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="@Model[i].MobileNumber"></label> (if any)
                    <input asp-for="@Model[i].MobileNumber" class="form-control input-sm" />
                    <span asp-validation-for="@Model[i].MobileNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="@Model[i].Email"></label>(if any)
                    <input asp-for="@Model[i].Email" class="form-control input-sm" />
                    <span asp-validation-for="@Model[i].Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="hidden" asp-for="@Model[i].CardId" value="@Model[i].CardId-0@(i+3)" class="form-control input-sm" />
                </div>
            </div>
        </div>
    </div>
}