@using Algebra.Entities.ViewModels
@using Algebra.Data

@model MemberViewModels
<div id="member" class="small">
    <h4>APPLICANT DETAILS <small></small></h4>
    <hr class="colorgraph">

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_Title"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                <select asp-for="@Model.M_Title" asp-items="Html.GetEnumSelectList(typeof(Enums.Title))" class="form-control input-sm" model="member">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="@Model.M_Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_FirstName"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                <input asp-for="@Model.M_FirstName" class="form-control input-sm" />
                <span asp-validation-for="@Model.M_FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_MiddleName"></label>
                <input asp-for="@Model.M_MiddleName" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_LastName"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                <input asp-for="@Model.M_LastName" class="form-control input-sm" />
                <span asp-validation-for="@Model.M_LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_PrimaryMobileNumber"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                <input asp-for="@Model.M_PrimaryMobileNumber" class="form-control input-sm" />
                <span asp-validation-for="@Model.M_PrimaryMobileNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_SecondaryMobileNumber"></label>
                <input asp-for="@Model.M_SecondaryMobileNumber" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_ProfessionalTitle"></label>
                <input asp-for="@Model.M_ProfessionalTitle" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_Designation"></label>
                <input asp-for="@Model.M_Designation" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_Organization"></label>
                <input asp-for="@Model.M_Organization" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_DateOfBirth"></label>
                <input asp-for="@Model.M_DateOfBirth" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_Email"></label>
                <input asp-for="@Model.M_Email" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.M_TelephoneNumber"></label>
                <input asp-for="@Model.M_TelephoneNumber" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="@Model.M_PresentAddress"></label>
                <input asp-for="@Model.M_PresentAddress" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="@Model.M_CorrespondenceAddress"></label>
                <input asp-for="@Model.M_CorrespondenceAddress" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_AccountId" value="@Model.M_AccountId" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_CardId" value="@Model.M_AccountId-01" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_Location" value="" oldid="@Model.M_Location" class="form-control input-sm" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_MembershipType" value="@Model.M_MembershipType" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_ReferredBy" value="@Model.M_ReferredBy" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="hidden" asp-for="@Model.M_LocationId" value="@Model.M_LocationId" />
            </div>
        </div>

    </div>
</div>
