@using Algebra.Entities.ViewModels
@model SpouseViewModels

<div id="spouse">
    <h2>Spouse <small>Details</small></h2>
    <hr class="colorgraph">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control input-sm" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.MiddleName"></label>
                <input asp-for="@Model.MiddleName" class="form-control input-sm" />
                <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control input-sm" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
