@using Algebra.Entities.ViewModels
@using Algebra.Data
@model IEnumerable<MemberViewModels>

<div class="container small">
    <div class="row">
        <div class="col-md-12">
            <h3>Member(s) <small></small></h3>
            <hr class="colorgraph">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Account Id</th>
                            <th scope="col">CardId</th>
                            <th scope="col">Name</th>
                            <th scope="col">Referred By</th>
                            <th scope="col">Location</th>
                            <th scope="col">Membership Type</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var member in Model)
                        {
                            <tr>
                                <td>@member.AccountId</td>
                                <td>@member.CardId</td>
                                <td>@member.FirstName @member.LastName</td>
                                <td>@Utils.GetSelectText(ViewBag.Referrers, member.ReferredBy)</td>
                                <td>@Utils.GetSelectText(ViewBag.Locations, member.LocationId)</td>
                                <td>@Utils.GetSelectText(ViewBag.Categories, member.MembershipType)</td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Details">
                                        @Html.ActionLink("", "Get", new { id = member.Id }
                                                , new { @class = "btn btn-primary btn-xs glyphicon glyphicon-list-alt" })
                                    </p>
                                </td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                                        @Html.ActionLink("", "AddMember", new { id = member.Id }
                                                    , new { @class = "btn btn-primary btn-xs glyphicon glyphicon-edit" })
                                    </p>
                                </td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
