@using Algebra.Data
@using Algebra.Entities.ViewModels
@model RegistrationFormViewModel
@{
//var member = Model.Member;
//var spouse = Model.Spouse;
//var dependent = Model.Dependent;
}
<div class="container">
    <form method="post" id="registration-form" asp-controller="Member" asp-action="Post">
        <div id="registration" class="small">
            <div class="row" style="padding: 10px; margin: 10px">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.ReferredBy"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                        <select asp-for="@Model.ReferredBy" asp-items="@(new SelectList(ViewBag.Referrers, "Name", "Name"))" class="form-control input-sm">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="@Model.ReferredBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.Location"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                        <select asp-for="@Model.Location" asp-items="@(new SelectList(ViewBag.Locations, "Name", "Name"))" class="form-control input-sm">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="@Model.Location" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="@Model.MembershipType"></label> <span class="glyphicon-sm glyphicon-asterisk" style="color:red"></span>
                        <select asp-for="@Model.MembershipType" asp-items="Html.GetEnumSelectList<Enums.MembershipCategory>()" class="form-control input-sm">
                            @*<select asp-for="@Model.MembershipType" asp-items="Html.GetEnumSelectList(typeof(Enums.MembershipCategory))" class="form-control input-sm">*@
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="@Model.MembershipType" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default row" style="padding: 10px; margin: 10px">
            <div id="Tabs" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="disabled"><a href="#member" aria-controls="personal" role="tab" data-toggle="tab">Member Details</a></li>
                    <li class="disabled"><a href="#spouse" aria-controls="employment" role="tab">Spouse Details</a></li>
                    <li class="disabled"><a href="#first-dependent" aria-controls="first-dependent" role="tab">First Dependent</a></li>
                    <li class="disabled"><a href="#second-dependent" aria-controls="second-dependent" role="tab">Second Dependent</a></li>
                    <li class="disabled"><a href="#membership-fee" aria-controls="membership-fee" role="tab">Membership Fee</a></li>
                    <li class="disabled"><a href="#assets" aria-controls="assets" role="tab">Assets</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="padding-top: 20px">
                    <div role="tabpanel" class="tab-pane active" id="member">
                        @await Html.PartialAsync("_Member", Model.Member)
                    </div>
                        <div role="tabpanel" class="tab-pane" id="spouse">
                            @*@await Html.PartialAsync("_Spouse", Model.Spouse)*@
                        </div>
                        <div role="tabpanel" class="tab-pane" id="first-dependent">
                            tab3
                        </div>
                        <div role="tabpanel" class="tab-pane" id="second-dependent">
                            Second Dependent
                        </div>
                        <div role="tabpanel" class="tab-pane" id="membership-fee">
                            Membership Fee
                        </div>
                        <div role="tabpanel" class="tab-pane" id="assets">
                            Assets
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group">
            @*<button type="button" class="btn btn-primary" id="btn-submit">Submit</button>*@
            <button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
        </div>
        </form>



        @* Model for error list *@
                        <div class="modal fade" id="error-model" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#330033;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <i class="glyphicon glyphicon-alert white"></i><h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body panel panel-default" style="padding: 10px; margin: 10px">
                                        <ul></ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $("#btn-submit").click(function () {
            var o = new Registration();
            o.SubmitForm();
        });

        $("#MembershipType").change(function () {
            var member_type = $(this).val();
            var t = new Registration();
            t.TabsSelection(member_type);
        });
    </script>
}
