@using Algebra.Data
@using Algebra.Entities.ViewModels
@using Newtonsoft.Json;
@model RegistrationFormViewModel

<div class="container">
    <form method="post" id="registration-form">
        <input name="RequestVerificationToken" type="hidden" value="CfDJ8KW5cuB058RCnNyZSLI7AUjUAtTwe54jQ4Z9Goyn3WKPcpVFYSFUM5J-JDFC3E-MZIUcyR0UnbrvrC_sHv6MbUONStuIMhqDc7i00pQiGkrzf3hK6t5gZFVrjUpyAcargow4zvKU_ISjdPfoLTNF588" />
        @Html.AntiForgeryToken()
        <div class="panel panel-default row" style="padding: 10px; margin: 10px">
            <div id="Tabs" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#member" aria-controls="member" role="tab" data-toggle="tab">Member</a></li>
                    <li><a href="#spouse" aria-controls="spouse" role="tab" data-toggle="tab">Spouse</a></li>
                    <li><a href="#dependent" aria-controls="dependent" role="tab" data-toggle="tab">Dependent(s)</a></li>
                    <li><a href="#membership-fee" aria-controls="membership-fee" role="tab" data-toggle="tab">Payment</a></li>
                    <li><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="padding-top: 20px">
                    <div role="tabpanel" class="tab-pane active" id="member">
                        @await Html.PartialAsync("_Member", Model.Member)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="spouse">
                        @await Html.PartialAsync("_Spouse", Model.Spouse)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="dependent">
                        @await Html.PartialAsync("_Dependent", Model.Dependent)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="membership-fee">
                        @await Html.PartialAsync("_Payment", Model.Payment)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="assets">
                        Assets
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="btn-submit">Submit</button>
            <button type="button" class="btn btn-default" id="btn-cancel" onclick="history.back()">Cancel</button>
        </div>
    </form>

    @* Model for error list *@
    <div class="modal fade" id="error-model" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <i class="glyphicon glyphicon-alert white"></i><h4 class="modal-title"></h4>
                </div>
                <div class="modal-body panel panel-default" style="padding: 10px; margin: 10px">
                    <ul></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/registration.js" asp-append-version="true"></script>
    <script src="~/js/validator.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var r = {
            Location: @Model.LocationId,
            Type: @Model.MembershipType,
            Reffered: @Model.ReferredBy,
            CreatedBy: '@Model.CreatedBy',
            IsNew: '@Model.IsNew'
        };

        $(document).ready(function () {
            var o = new Registration(r);

            $("#btn-submit").click(function () {
                o.SubmitForm();
            });

            $("#PaymentMode").change(function () {
                if (this.value === Mode.CHQ || this.value === Mode.MXM)
                {
                    $("#cheque-section").show();
                    console.log("hasCheque : " + o.hasCheque);
                }
                else {
                    $("#cheque-section").hide();
                    console.log("hasCheque : " + o.hasCheque);
                }
            });
        });

        /*
         * This below code segment will
         * add/remove the cheque detail rows
         * */

        var regex = /^(.+?)(\d+)$/i;
        var cloneIndex = $(".clonedInput").length;

        function clone() {
            toastr.info("Coping cheque row,  Be Patient!", "Deleting..!");
            $(this).parents(".clonedInput").clone()
                .appendTo("#cheque-section")
                .attr("id", "cheque-" + cloneIndex)
                .find(".form-group")
                .each(function () {
                    var ctrl = $(this).find('input:first')[0] || "";
                    if (ctrl) {
                        var id = ctrl.id;
                       // console.log('Id : ' + id);
                        var match = id.match(regex) || [];
                        if (match.length == 3) {
                            this.id = match[1] + (cloneIndex + 1);
                            //console.log("New Id : " + match[1] + (cloneIndex + 1));
                            var inputCtrl = $(this).find('input')[0];
                            $(inputCtrl).removeAttr('id');
                            $(inputCtrl).attr('id', match[1] + (cloneIndex + 1));
                           // console.log("Ctrl Id: " +inputCtrl.id);
                        }
                    }
                })
                .on('click', 'button.clone', clone)
                .on('click', 'button.remove', remove);
            cloneIndex++;

        }
        function remove() {
            $(this).parents(".clonedInput").remove();
            toastr.info("hang on, for a sec its deleting ;)", "Deleting..!");
        }

        $("button.clone").on("click", clone);
        $("button.remove").on("click", remove);

    </script>
}
